*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(https://img.r7.com/images/2014/04/23/4wvy8g2shl_19mf91z0cg_file.jpg?dimensions=460x305); 
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: black;
}

li{
    list-style: none;
}

#container{
    width: 290px;
    text-align: center;
    height: auto;
    margin: 4px auto;
}

#calculadora{
    width: 430px;
    height: 700px;
    margin: 0 auto;
    padding: 2px;
    background-color: #000000;
}

.input-valor{
    margin: 8px auto;
    width: 95%;
    height: 30px;
    font-size: 16px;
    overflow: hidden;
    text-align: right;
    color: #48484d;
    padding: 4px;
    background-color: #fff;
    box-shadow: inset -1px -1px 4px 1px #eee;
}

.key li{
    width: 200px;
    height: 60px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    background-color: #fd0000;
    cursor: pointer;
    float: left;
    margin: 0px -3px 5px 8px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 3px 1px 0px;
}











